pi-app>header {
  display: grid;
  gap: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  grid-template-columns: 100px 1fr 2fr 100px 40px;
  grid-template-areas:
    "logo logo logo logo profile"
    "search search search actions actions"
    "nav nav nav nav nav"
  ;

  h1 {
    font-size: 1rem;
    grid-area: logo;
  }

  pi-search {
    grid-area: search;
  }

  pi-navigation {
    grid-area: nav;
  }

  dataset-switch {
    grid-area: actions;
  }

  sh-profile {
    grid-area: profile;
    align-self: center;
  }
}

@media (min-width: 520px) {
  pi-app>header {
    grid-template-columns: 100px 1fr 2fr 100px 40px;
    grid-template-areas:
      "logo search search actions profile"
      "nav nav nav nav nav"
    ;
  }
}

@media (min-width: 900px) {
  pi-app>header {
    grid-template-columns: 170px 1fr 2fr 100px 40px;
    grid-template-areas: "logo search nav actions profile";
    padding: 2rem;

    h1 {
      font-size: 2rem;
    }

    pi-navigation {
      justify-self: center;
    }
  }
}

@media (min-width: 1096px) {
  nav ul {
    gap: 1rem;
  }
}

nav.pager a {
  display: inline-block;
  margin-right: 1em;
  text-decoration: none;
  color: black;
}

nav.pager a.active {
  border-bottom: 2px solid var(--color-accent);
}

nav ul {
  /* margin-top: 1rem; */
  display: flex;
  /* gap: 1rem; */
  list-style-type: none;
}

nav a {
  color: black;
  text-decoration: none;
  font-weight: 700;
}

nav li {
  padding: 0.5rem 1rem;
  height: 2.2rem;
}

nav li:first-child {
  margin-left: -1rem;
}

nav li:last-child {
  margin-right: -1rem;
}

nav li.active {
  background-color: var(--color-accent);
}

nav .ds-switch {
  margin-top: -8px;
  width: 150px;
}