/* Variables */
:root {
  --font-size: 16px;
  --color-text: #222222;
  --color-text-light: #929eb0;
  --color-background-grey: #e9ecf1;
  --color-background-light: #f6f7f9;
  --color-background-map: #e9ecf1;
  --color-map: #333333;
  --color-background: #ffffff;
  --color-accent: #fddd34;
  --panel-font-size: var(--font-size, 16px);
}
/*
@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #ffffff;
    --color-text-light: #cccccc;
    --color-background-grey: #888888;
    --color-background-light: #333333;
    --color-background: #222222;
    --color-map: #fddd34;
    --color-background-map: #888888;
    --color-accent: #fddd34;
  }
}
*/

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
body {
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Oxygen, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
}
input,
button,
select {
  font: inherit;
}



main {
  max-width: 1148px;  
  margin: 0 auto;
  padding: 60px 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 60px 160px;}


.countries-grid {
  display: grid;
  grid-template-columns: 2.5fr 1.5fr;
  grid-gap: 2rem;
  align-items: center;
  background-color: var(--color-background-light);
}
.countries-grid nu-worldmap {
  padding: 40px;
}

nav.topnav{
  ul {
    list-style: none;
  }
  li{
    display: inline-block;
    margin: 1em 2em;
  }
  a {
    display: block;
    font-size: 2rem;
    position: relative;
    text-transform: uppercase;
    transition: all 300ms ease;
    width: fit-content;
    cursor: pointer;
    margin-bottom: 2em;
  }
  a.active{
    border-bottom: 4px solid hotpink;
  }
  a:hover {
    transform: skew(10deg);
  }
  a::before {
    content: attr(data-name);
    position: absolute;
    top: 0;
    left: -20px;
    background: var(--color-background);
    height: 1.5rem;
    overflow: hidden;
    transition: all 300ms ease;
    padding-left: 20px;
  }
  a:hover::before {
    top: -3px;
    left: 0px;
    color: hotpink;
  }
  
  a::after {
    content: "";
    height: 4px;
    width: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: hotpink;
    transition: all 300ms ease;
  }
  a:hover::after {
    width: 120%;
    outline: 1px solid rgb(2, 0, 36);
  }
}
@media screen and (max-width: 560px) {
  :root {
    --font-size: 10px;
  }
  main {
    gap: 20px;
  }
}
@media screen and (max-width: 1148px) {
  .countries-grid {
    grid-template-columns: 1fr;
    background: none;
  }
  .countries-grid nu-worldmap {
    background-color: var(--color-background-light);
  }
}

nu-graph {
  --color-1: var(--color-accent);
  --color-2: var(--color-text);
  --color-label: var(--color-text-light);
  --color-axis: var(--color-background-grey);
  --font-size-label: 10px;
}

.sessions .graph-wrapper {
  overflow-x: auto;
  background-color: var(--color-background-light);
  padding: 60px;
}

nav.pager a{
  display: inline-block;
  margin-right: 1em;
  text-decoration: none;
  color:black;
}
nav.pager a.active{
  border-bottom: 2px solid var(--color-accent);
}

aside {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
}

button, ::part(button) {
cursor: pointer;
line-height: 40px;
color: var(--text-color);
border: 2px solid var(--text-color, black);
text-align: center;
font-size: var(--font-size, 16px);
display: inline-block;
background: none;
  background-color: rgba(0, 0, 0, 0);
/* min-width: 200px;*/
padding: 0 1rem;
}

button[primary], ::part(btn-primary) {
font-weight: 700;
border: 2px solid var(--color-accent);
background-color: var(--color-accent);
}

section h2 {
  display: flex;
  flex: 1;
  align-items: baseline;
  font-weight: 500;
  font-size: calc(var(--panel-font-size) * 2);
  line-height: calc(var(--panel-font-size) * 3);
  margin: 10px 1rem 10px 0;
}
section {
  font-size: calc(var(--panel-font-size) * 1.25);
}
section .icon-expand {
  cursor: pointer;
  display: flex;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.5714 18.5714H1.42859V1.42859H10V0H0.714293C0.319468 0 0 0.319468 0 0.714293V19.2857C0 19.6805 0.319468 20 0.714293 20H19.2857C19.6805 20 20 19.6805 20 19.2857V10H18.5714V18.5714Z' fill='currentColor'/%3E%3Cpath d='M12.8573 0V1.42859H17.5615L9.49512 9.49497L10.5052 10.505L18.5715 2.43863V7.14285H20.0001V0L12.8573 0Z' fill='currentColor'/%3E%3C/svg%3E%0A");
}

#body>header, #body>footer {
  max-width: 1148px;
  margin: 0 auto;
  padding-top: 30px;
}

h1 img {
  margin-bottom: -14px;
  margin-right: 10px;
}

h1 {
  font-weight: 900;
}

main {
  max-width: 1148px;
  margin: 0 auto;
  padding: 60px 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 60px 160px;
}

@media screen and (max-width: 1200px) {
  main {
      grid-template-columns: minmax(0, 1fr);
  }
}

main>.wide {
  grid-column: 1/-1;
}

dt {
  font-weight: bold;
}

dl,
dd {
  font-size: 0.9rem;
}

dd {
  margin-bottom: 1em;
}

nav ul{
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  list-style-type: none;
}

pi-app{
  display: contents;
}

nav a{
  color: black;
  text-decoration: none;
  font-weight: 700;
}
nav li{
  padding: 0.5rem 1rem;
}
nav li.active{
  background-color: var(--color-accent);
  
}
.splide{
  width:800px;
}
.splide__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
progress{
  border: none;
  height: 4px;
}

index-page{
  grid-column:span 2;
}

.notice{
  display: flex;
  width: 300px;
  font-size: .75rem;
  line-height: 1rem;
}
.box--warning{
  color: #6c4b15 !important;
  background: #fdf3bd !important;
  border: 1px solid #ffd800 !important;
  box-shadow: 3px 3px 0 #ffd800;
  padding: 4px 8px !important;
}
.notice a {
  color: #222;
  text-decoration: underline;
}

/*
b-container:not([level="0"]){
  display: block;
  padding-left: var(--container-padding, 1rem);
}
*/
b-container{
  display: block;
  /* margin-top: 1rem; */
  margin-bottom: 2rem;
}
.container--empty-array{
  margin: 1rem 0;
  font-style: italic;
}
b-container b-container:not([array]){
  margin-left: var(--container-padding, 1rem);
}

b-container b-container[array] .el{
  margin-left: 0;
}
b-container b-container[array] .el > *{
  margin-left: var(--container-padding, 1rem);
}
b-container b-container[array] .el > .handle{
  margin-left: 0;
}
b-container .els > *{
  margin-bottom: 1rem;
}
.els .el{
  display: flex;
  margin-bottom: 1rem;
}
.els .el .handle{
  width:16px;
  background-color: #eee;
  cursor:move;
}
.els .el .handle + *{
  width:100%;
}
.sortable-ghost {
  opacity: .5;
  background: #C8EBFB;
}
.sortable-chosen{
    color: #fff;
    background-color: rgb(192, 173, 221);
}